<launch>
    <param name="robot_description"
        command="xacro '$(find cga_kinematics)/model/delta/ros.urdf.xacro'"/>

    <rosparam file="$(find cga_kinematics)/config/loops.yaml" />

    <node
        pkg="cga_kinematics"
        type="delta_ik"
        name="delta_ik"
        output="screen">
    </node>

    <node
        pkg="robot_state_publisher"
        type="robot_state_publisher"
        name="robot_state_publisher">
        <remap from="joint_states" to="joint_states_out"/>
    </node>

    <node
        name="rviz" pkg="rviz" type="rviz"
        args="-d $(find cga_kinematics)/config/default.rviz"
    />
</launch>
