<?xml version='1.0'?>
<sdf version='1.4' xmlns:xacro="http://www.ros.org/wiki/xacro">
<model name="delta">
<static>false</static>

<xacro:include filename="parameters.xacro"/>
<xacro:include filename="../macros/inertia.xacro"/>

<xacro:include filename="gazebo_links/base.sdf.xacro"/>
<xacro:include filename="gazebo_links/upper.sdf.xacro"/>
<xacro:include filename="gazebo_links/lower.sdf.xacro"/>
<!--
<xacro:include filename="gazebo_links/end_effector.sdf.xacro"/>
-->

<xacro:include filename="gazebo_joints/upper.sdf.xacro"/>
<xacro:include filename="gazebo_joints/lower.sdf.xacro"/>
<!--
<xacro:include filename="gazebo_joints/end_effector.urdf.xacro"/>

<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"/>
-->

<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"/>

</model>
</sdf>
